<div id="posts" class="container">
    <div class="post" data-id="1">
        <div class="post_header">
            <div class="row">
                <div class="col">
                    <h3>First Article</h3>
                </div>
                <div class="col post_details">
                    Posted By: xxx on 10/19/2023
                </div>                
            </div>
        </div>
        <div class="post_content">
            Lorem ipsum etc etc etc
        </div>
    </div>
</div>