body {
  margin-top: 10px;
}

#header {
  
}

.post_button {
  padding: 5px;
  background-color: #342832;
  color: #fff;
  border: 3px solid #342832;
  border-radius: 3px;
  text-align: center;
  float: right;
  cursor: pointer;
  text-decoration: none;
}

.post {
  margin-top: 5px;
  border: 3px solid #342832;
  border-radius: 3px;
  background-color: #C1CAD1;
  cursor: pointer;
}

.post_header {
  background-color: #342832;
  color: #ffffff;
  padding: 3px;
}

.post_details {
  text-align: right;
}

.post_content {
  padding-left: 2px;
}

.post_comments {
  background-color: #fff;
}

.comment_user {
  display: block;
  margin-top: .5em;
  margin-left: 2em;
  font-size: .75em;
}

.nav-link.active {
  color: #342832 !important;
}

.nav-link {
  color: #6CAAB9 !important;
}