body {
  margin-top: 10px;
}

.post_button {
  float: right;
}

.post {
  margin-top: 5px;
  border: 3px solid #0d6efd;
  border-radius: 3px;
  background-color: #ffffff;
  cursor: pointer;
}

.post_header {
  background-color: #0d6efd;
  color: #ffffff;
  padding: 3px;
}

.post_details {
  text-align: right;
}

.post_content {
  padding-left: 2px;
}

.post_comments {
  background-color: #fff;
}

.comment_user {
  display: block;
  margin-top: .5em;
  margin-left: 2em;
  font-size: .75em;
}

.nav-link.active {
  color: #0d6efd !important;
}

.nav-link {
  color: #000 !important;
}